
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Holtwood+One+SC&family=Lato:wght@100;400&family=Montserrat:wght@600&family=Nunito+Sans:wght@200&display=swap');
*{
  margin:  0;
  padding:  0;


  box-sizing: border-box;
}

.title{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
 font-family: 'Montserrat', sans-serif; 
 font-weight: bold !important;
 
}
.brand{
 color: white;
font-family: 'Black Ops One', cursive;
 font-size: 15px; 
 
}
.home{
  background-color: black;
 height: 100vh;
 display: flex;
 text-align:  center;
 flex-direction: column;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 20px;
 color:   white;
 margin: auto ;


/*updateproduct-bg{
background-image: url(./images/addproduct-bg.jpg);
background-position: center center;
background-repeat: repeat;
background-size: cover;
}
*/

}

.sticky-top{
 font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  

}
.shopNowButton{
font-family: 'Nunito Sans', sans-serif;
background: black !important;
color: white!important;
border-style: none !important;
   
}


.allProducts{
line-height: 1;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}


.button{
  padding: 20px;

}
.register{
  padding: auto;
  margin-bottom: 20px;
}
.login{
  padding: auto;
  margin-bottom: 20px;
  vertical-align: middle;

}


.addToCartButton {
font-family: 'Nunito Sans', sans-serif;
background: black !important;
color: white!important;

   
}

.dashboardButton{
   margin-bottom: 10px;

}
.dashboardTitle{
   margin-bottom: 10px;
   font-weight:   bold;
   font-family: 'Lato', sans-serif;
   
}

.registerButton{
 font-family: 'Montserrat', sans-serif; 
  backgroundColor:'black';
  margin-top: 15px ;
 
}
.loginButton{
 font-family: 'Montserrat', sans-serif; 
  backgroundColor:'black';
  margin-top: 15px ;
 
}


.itemName{
   font-weight:   400;
   font-size: 13.32px !important;
   font-style: normal !important;


}

.itemPrice{
 font-weight:   bold;
   font-family: 'Lato', sans-serif;
   font-size:   15px;


}
.productCard{
  
  margin: 10px;
}

.label{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
  margin-top: 10px;
}


.addNewProductButton{
  margin: 10px;
  font-family: 'Nunito Sans', sans-serif;
background: black !important;
color: white!important;
}


.showUserOrderButton{
   margin: 10px;
   font-family: 'Nunito Sans', sans-serif;
background: black !important;
color: white!important;
}

.products{
  display:  grid;
  grid-template-columns:1fr 1fr ;
}
.products img{
  width:  100%;
}

.adminCard{
  background-color: black !important;

}

.admintitle{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
 font-family: 'Montserrat', sans-serif; 
 font-weight: bold !important;
 color:  white;
}
.adminButton{
   font-family: 'Nunito Sans', sans-serif;
  backgroundColor:'black';
  margin-top: 15px ;
}

.userTable{
  
 text-align:  center;
 font-family: 'Nunito Sans', sans-serif;
 margin-bottom: 20px;
 color:   white;

  

}
.userData{
font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
text-align: center!important;
color: black;
}

.collection{
margin-bottom: 50px;
}

.uploadButton{
 font-family: 'Nunito Sans', sans-serif;
}
.orderData{
   font-family: 'Nunito Sans', sans-serif;

}

.collectionBody{
  background-color:   black;
 color:   white;
}

.editProductButton{
  font-family: 'Nunito Sans', sans-serif;
background: grey !important;
color: white!important;
}

.td{
  font-family: 'Nunito Sans', sans-serif;
  width: 280px;
  text-align: center;
  border: 1px solid black!important;
  padding: 1px!important;
 font-weight: bold; 

}


